
.botao-ligado{
    position: fixed;
    border: none;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-image: linear-gradient(to top, #202850 0%, #0036ff 100%);
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
    
}

.img-ligado{
    margin-top: 6px;
}

.botao-ligado img{
    width: 49px;
}

.light{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.botao-desligado{
    display: none;
    position: fixed;
    border: none;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-image: linear-gradient(to bottom, #a18cd1 0%, #fbc2eb 100%); 
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.img-desligado{
    margin-top: -4px;
}

.botao-desligado img{
    width: 33px;
}

.dark{
    background-image: linear-gradient(to bottom, #a18cd1 0%, #fbc2eb 100%); 
}

/* OFFCANVAS */

.offcanvas{
    box-shadow: 20 20 50  rgba(0, 0, 0, 0.5);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    overflow-x: hidden;
}

.offcanvas-header{
    margin-bottom: 30px;
}

/* CABEÇALHO */

.logado{
    display: none;
}

.login--remover{
    display: none;
}


.fa-eye{
  position: absolute;
  top: 132px;
  right: 39px;
  cursor: pointer;
  color: black;
}

#verSenha{
    position: absolute;
    top: 299px;
    right: 39px;
    cursor: pointer;
    color: black;
}

#verSenhaConfirm{
    position: absolute;
    top: 382px;
    right: 39px;
    cursor: pointer;
    color: black;
}



#crud a.login{
    box-shadow: 20 20 50  rgba(0, 0, 0, 0.5);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    cursor: pointer;
}

#crud a.logado{
    box-shadow: 20 20 50  rgba(0, 0, 0, 0.5);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    cursor: pointer;
}

#crud a{

    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    box-shadow: inset 0 -3px 0 0 rgb(0 0 0 / 25%);
    padding: 20px;
    height: 50px;
    width: 120px;
    line-height: 45px;
    text-align: center;
    color: white;
    
}

#crud p{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    box-shadow: inset 0 -3px 0 0 rgb(0 0 0 / 25%);
    height: 50px;
    width: 120px;
    line-height: 45px;
    text-align: center;
    color: white;
    box-shadow: 20 20 50  rgba(0, 0, 0, 0.5);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    cursor: pointer;
    padding: 20px;
}

#crud img{
    margin-right: 10px;
    margin-bottom: 3px;
}

.btn-close:focus{
    border-style: none;
    border: none;
    box-shadow: none;
    outline: none;
}

.cabecalho{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 24px;
  
}

.cabecalho-logo{
    color: rgba(27, 103, 133, 0.911); 
    font-family: 'Klee One', Arial, cursive;
    font-size: 30px;
    text-decoration: none; 
      
}

.cabecalho-logo:hover{
    color: rgba(27, 103, 133, 0.911) !important;   
}

.cabecalho-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

}

.cabecalho-menu-item{
    font-size: 18px;
    color: white;
    text-decoration: none;
    
}

/* CABEÇALHO MOBILE */

.menu {
    display: none;
}
  
.menu-mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    box-shadow: 20 20 50  rgba(0, 0, 0, 0.5);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}
  
.menu-mobile--active {
    width: 100%;
}
  
.conteudo-menu-mobile {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.menu-mobile a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}
  
.menu-mobile a:hover, .menu-mobile a:focus {
    color: #0088a9;
}
  
.menu-mobile .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}

  
@media screen and (max-height: 450px) {
    .menu-mobile a {
        font-size: 20px;
  }
    .menu-mobile .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
  }
}
  
@media only screen and (max-width: 800px) {
    .cabecalho-menu, .login {
      display: none;
    }
    .menu {
      display: initial;
    }
}


/* BODY DO LOGIN / CADASTRAR */


.modal-pattern{
    margin-top: 50px;
}

.modal-pattern .modal-content{
    background: transparent;
    border: none;
}

.modal-pattern .modal-header{
    padding-top: 140px;
    padding: 20px;
    border: none;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
    background-attachment: fixed;
    margin-bottom: 0px;

}

.modal-pattern .modal-body {
    padding-top: 140px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 20px;
    border: none;
    box-shadow: 20 20 50  rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
    background-attachment: fixed;
    /* overflow-x: hidden; */
    margin-bottom: 16px;
    border-bottom: 10px solid #1f1e1caf;

}

form input.form-input{
    color: #b4ad9d;
    font-size: 18px;
    padding: 20px;
    background: #fff;
    border-radius: 20px 2px 20px 2px;
    border: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 7px solid #eee;
    margin-bottom: 10px;
}

form button.form-input{
    color: #fff;
    font-size: 34px;
    border: none;
    text-align: center;
    /* background: #7e796e; */
    background: rgba(255,255,255,0.1);
    box-shadow: 20 20 50  rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
    border-radius: 2px 20px 2px 20px;
}

form input.form-input-logado{
    color: #b4ad9d;
    font-size: 18px;
    padding: 20px;
    background: #fff;
    border-radius: 20px 2px 20px 2px;
    border: none;
    width: 95%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 7px solid #eee;
    margin-bottom: 10px;
    margin-left: 9px;
}

form button.form-input-logado-btn{
    color: #b4ad9d;
    font-size: 26px;
    padding: 20px;
    background: #fff;
    border-radius: 20px 2px 20px 2px;
    border: none;
    width: 95%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 7px solid #eee;
    margin-bottom: 10px;
    margin-left: 9px;
    margin-top: 10px;
}


.ajuda{
    display: block;
    float: left;
    color: #fff;
    margin: -30px 0 7px;
    padding: 10px 15px 7px;
    border-radius: 0 0 20px 2px;
    width: 95%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    font-size: 16px;
    background: #a6c1ee; 
    margin-left: 9px;
}

.modal-pattern .modal-footer{

    /* background: #7e796e; */
    /* background: rgba(255,255,255,0.1);
    box-shadow: 20 20 50  rgba(0, 0, 0, 0.5); */
    /* overflow-x: hidden; */
    background-image: linear-gradient(to right, #f190d4 0%, #a6c1ee 100%);
    background-attachment: fixed;
    border: none;
    margin-bottom: 10px;
    padding: 17px 30px;
    line-height: 28px;
    text-align: center;
    border-radius: 20px;

}

.modal-pattern .modal-footer a.esquecer-senha{
    color: #fff;
    float: left;
    font-size: 18px;
    text-decoration: underline;
    display: block;
    margin-top: 3px;
    margin-right: 20px;
    padding: 8px;
}

.modal-pattern .modal-footer a.criar-conta{
    float: right;
    padding: 8px 0;
    color: #fff;
    font-size: 28px;
}


/* MAIN */


.caixa-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.texto1{
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 4rem;
}

.texto2{
    width: 850px;
    text-align: center;
   
}

.container{
    margin-top: 10rem;
    margin-bottom: 18rem;
}

/* .container .texto-secundario{
    display: flex;
    flex-direction: column;
} */

.sub-texto{
    font-size: 19px;
}



.lista-desejo{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
} 

.response-card{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}


.response-card>div{
    flex: 1 1 200px;
    margin: 10px;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;
  
}

.card-body{
    text-align: center;
}

.response-card2{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 7rem;
}

.response-card2>div{
    flex: 1 1 200px;
    margin: 10px;
}


.card{
   
    box-shadow: 20 20 50  rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    width: 400px;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    margin: 0px 25px;
    transition: 0.3s;

}


.duvidas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10rem;
    margin-bottom: 3rem;
   
}

.red-card:hover{
    background-image: linear-gradient(0deg, #e0c3fc 0%, #fc9e8e 100%);
}

.yellow-card:hover{
    background-image: linear-gradient(0deg, #faf8fc 0%, #eaf740 100%);
}

.blue-card:hover{
    background-image: linear-gradient(0deg, #e7d9f3 0%, #6fd4fc 100%);
}

/* FOOTER */

a{
    text-decoration: none;
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
  }

#rodape-social{
    box-shadow: 20 20 50  rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 25px;
    box-shadow: 0 -3px 0 0 #9a9a9a, 0 5px 15px 0 rgb(0 0 0 / 7%); 
    margin: 15px auto;
    margin-top: 10rem;
    padding: 14px 0 15px;
    width: 50%;
}

#rodape-social ul{
    float: left;
    margin-bottom: 15px;
    padding: 0 10px;
}

ul{
    list-style: none;
}

#rodape-social li{
    float: left;
    margin-right: 5px;
}

#rodape-social li a.discord{
    background: #7289da;
}

#rodape-social li a.youtube{
    background: rgb(201, 57, 57);
}

#rodape-social li a{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    box-shadow: inset 0 -3px 0 0 rgb(0 0 0 / 25%);
    display: block;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
}

#rodape-social .topo{
    color: #000000;
    float: right;
    font-size: 19px;
    line-height: 20px;
    margin-right: 15px;
    margin-top: 14px;
}

#rodape-social hr{
    background: #efefee;
    border: 0;
    clear: both;
    height: 1px;
    margin: 0 10px 15px;
}

#rodape-social p{
    color: #000000;
    font-size: 16px;
    text-align: center;
}

@media(max-width: 1058px){
    .teste img{
        display: none;        
    }
}


@media(max-width: 850px){
    .texto2{
        width: 400px;
    }
}

@media (min-width: 541px){
.rodape-social li a {
    width: 60px;
}
}

@media (max-width: 672px){
    .img-desenho img{
        width: 380px;
    }
}